@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<div class="jumbotron">
    <address>
    BSD Enterprise<br />
    Madrid, España<br />
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:jorge.valhondo@bsdenterprise.es">Contacto con el desarrollador</a><br />
</address>
</div>